#wrapper {
  width: 90%;
  margin: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0px;
}

td,
th,
tr {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  height: 40px;
}
th {
  background-color: black;
  color: white;
}
tr:nth-child(odd) {
  background-color: #eeeeee;
}
td:hover {
  background-color: gainsboro;
}
#searchInput {
  margin: auto;
  display: flex;
  align-items: center;
  width: 80%;
  height: 30px;
}

.filters {
  display: flex;
  justify-content: space-around;
}
.filters > select {
  width: 40%;
  padding: 10px;
}
